<h1>HOME</h1>
<% @stories.each do |story| %>
  <%= link_to(story.title, story.url) %>
    <%= story.user.username %>
    <%= story.created_at %>
    
  <% if logged_in? && !story.votes.include?(current_user) %>
    
    <%= form_for [@vote] do |f| %>
    <%= f.hidden_field :score, value: 1 %>
    <%= f.submit "Thumbs Up" %>
    <% end %>

    <%= form_for [@vote] do |f| %>
    <%= f.hidden_field :score, value: -1 %>
    <%= f.submit "Thumbs Down" %>
    <% end %>

  <% end %>
<% end %>