<!DOCTYPE html>
<html>
<head>
  <title>Harlemnews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <% if session[:user_id].nil? %>
  
    <%= link_to "Login", login_path%>
    <%= link_to "Join Us", new_user_path %>
  <% else %>
    <%= link_to "Logout", "/session", method: "delete" %>
  <% end %>
  </header>
<%= yield %>

</body>
</html>
