<!DOCTYPE html>
<html>
<head>
  <title>Harlemnews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= link_to "Join Us", new_user_path %>
  </header>


<%= yield %>

</body>
</html>
